html{
    scroll-behavior: smooth;

}
body {
    margin: 0;
    padding: 0;
    background-color: black;
}

header {
    padding: 50px;
    height: 100%;
    position: -webkit-sticky;
    position: fixed;
    top: 0;
    width: 100%;
}

header .screen_frame {
    border: 1px solid white;
    height: calc(100% - 100px);
    width: calc(100% - 100px);
    border-radius: 15px;
    position: sticky;
}

header .screen_frame .menu_navbar {
    display: flex;
    border-bottom: 1px solid white;
}

header .screen_frame .menu_navbar .menu {
    border-right: 1px solid white;
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .screen_frame .menu_navbar ul {
    color: white;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    width: 100%;
}

header .screen_frame .menu_navbar ul>li>a {
    text-transform: uppercase;
    text-decoration: unset;
    color: white;
    opacity: 0.8;
}

header .screen_frame .menu_navbar ul>li>a.active {   
    opacity: 1;
    transition: transform 3s;
}
header .screen_frame .menu_navbar ul>li>a:hover {   
    opacity: 1;
    background: white;
    color: black;
}

header .screen_frame .menu_logo {
    display: flex;
    height: 100%;    
}

header .screen_frame .menu_logo .logo {
    width: 50px;
    border-right: 1px solid white;
    height: calc(100% - 52px);
    display: flex;
    justify-content: center;
    align-items: center;
}

header .screen_frame .menu_logo .screen_content {
    width: 100%;
    height: calc(100% - 52px);
}

.main section {
    height: 100vh;
}
.main section img{
    width: 100%;
    height: 100%;
}
