/* html{
    scroll-behavior: smooth;

}
body {
    margin: 0;
    padding: 0;
    background-color: black;
    width: 100%;
	height: 100%;
}

.view_model{
    z-index: 1;
}

.canvas-container {
	z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
} */

/* header {
    padding: 50px;
    height: 100%;
    position: fixed;
	z-index: 2;
    top: 0;
    width: 100%;
    pointer-events: none;
}

header .screen_frame {
    border: 1px solid white;
    height: calc(100% - 100px);
    width: calc(100% - 100px);
    border-radius: 15px;
    position: sticky;
}

header .screen_frame .menu_navbar {
    display: flex;
    border-bottom: 1px solid white;
    pointer-events: all;
}

header .screen_frame .menu_navbar .menu {
    border-right: 1px solid white;
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .screen_frame .menu_navbar ul {
    color: white;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    width: 100%;
}

header .screen_frame .menu_navbar ul>li>a {
    text-transform: uppercase;
    text-decoration: unset;
    color: white;
    opacity: 0.8;
}

header .screen_frame .menu_navbar ul>li>a.active {   
    opacity: 1;
    transition: transform 3s;
}
header .screen_frame .menu_navbar ul>li>a:hover {   
    opacity: 1;
    background: white;
    color: black;
}

header .screen_frame .menu_logo {
    display: flex;
    height: 100%;    
}

header .screen_frame .menu_logo .logo {
    width: 49px;
    border-right: 1px solid white;
    height: calc(100% - 52px);
    display: flex;
    justify-content: center;
    align-items: center;
}

header .screen_frame .menu_logo .screen_content {
    width: 100%;
    height: calc(100% - 52px);
}

 .main{
    position: relative;
	z-index: 2;
} 

.main section {
    height: 100vh;
}
.main section img{
    width: 100%;
    height: 100%;
}

.screen_content{
    position: absolute;
    top: 104px;
    left: 100px;
    right: 50px;
    padding: 10px;
    bottom: 50px;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
    background-color: #27313A;
    scroll-behavior: smooth;
}

.canvas-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.main {
	position: relative;
	z-index: 1;
}

#screen_content_header{
    width: 400px;
    margin: 0;
    color: white;
}

.screen_content .screen_content_title{
font-size: 4.05vw;
color: white;
text-transform: uppercase;
position: absolute;
top: 125px;
}

.screen_content .screen_content_title>h1:nth-child(1){
    position: relative;
    left: 60%;
}
.screen_content .screen_content_title>h1:nth-child(2){
    position: relative;
    left: 80%;
}
.screen_content .screen_content_title>h1:nth-child(3){
    position: relative;
    left: 40%;
}

.reveal{
    position: relative;
    transform: translateY(-250px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateY(0px);
    opacity: 1;
  } */

/*New styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: #f1f1f1;
}
.main {
  position: relative;
  /* overflow: hidden; */
}
.main section {
  position: relative;
  height: 100vh;
  /* width: 100vw; */
}
canvas {
  position: absolute;
  /* z-index: 9; */
  max-width: 100%;
  max-height: 100%;
}
#loop {
  display: flex;
  position: absolute;
  top: 30%;
  height: 25%;
  width: 100%;
  font-size: 100px;
  white-space: nowrap;
  font-family: gilroy;
  overflow: hidden;
}
#loop > h1 {
  font-weight: 400;
  animation-name: anim;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
#loop > h1 > span {
  -webkit-text-stroke: 1.2px #000;
  color: transparent;
  font-weight: 500;
}
@keyframes anim {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
#project > h3 {
  position: absolute;
  top: 55%;
  font-family: gilroy;
  font-weight: 400;
  color: #7c7c7c;
  left: 5%;
}
#project > h4 {
  position: absolute;
  top: 62%;
  left: 25%;
  font-family: gilroy;
  font-weight: 500;
}

header {
  position: fixed;
  z-index: 2;
  height: 7%;
  width: 100%;
}

header.sticky .screen_frame {
  padding: 20px 100px;
  background-color: #000;
}

header.sticky .screen_frame .menu_logo img {
  filter: invert(0);
}

header.sticky .screen_frame .menu_navbar ul > li > a {
  color: white;
}

header .screen_frame {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 100px;
  transition: 0.6s;
}

header .screen_frame .menu_logo {
  position: relative;
}
header .screen_frame .menu_logo img {
  filter: invert(1);
}

header .screen_frame .menu_navbar ul {
  position: relative;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  width: 100%;
}

header .screen_frame .menu_navbar ul > li > a {
  position: relative;
  text-transform: uppercase;
  text-decoration: unset;
  color: black;
  opacity: 0.8;
  padding: 0 10px;
}

header .screen_frame .menu_navbar ul > li > a::after {
  content: "";
  position: absolute;
  background-color: #000;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}
header.sticky .screen_frame .menu_navbar ul > li > a::after {
  content: "";
  position: absolute;
  background-color: white;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

header .screen_frame .menu_navbar ul > li > a:hover::after {
  width: 100%;
}

header .screen_frame .menu_navbar ul > li > a:hover {
  opacity: 1;
}

.group,
.characters {
  padding: 100px;
}

.group .group_picture {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.group .group_picture .list_group {
  margin-left: 60px;
  list-style: none;
}

.group .group_picture .list_group .list_item .introduction {
  height: 0;
  box-sizing: border-box;
  padding-left: 50px;
  overflow: hidden;
  transition: all 0.4s linear;
  font-size: 22px;
  line-height: 1.2em;
  white-space: pre;
  color: white;
  text-transform: uppercase;
}
.group .group_picture .list_group .list_item.active .introduction {
  margin-top: 20px;
  height: 7.2em;
  overflow: hidden;
}

.group .group_picture .list_group .list_item.necromancer .brief .icon {
  background-position-y: -476px;
}
.group .group_picture .list_group .list_item.demon_hunter .brief .icon {
  background-position-y: 8px;
}
.group .group_picture .list_group .list_item.mage .brief .icon {
  background-position-y: -153px;
}
.group .group_picture .list_group .list_item.barbarian .brief .icon {
  background-position-y: -153px;
}
.group .group_picture .list_group .list_item {
  width: 100%;
  position: relative;
  left: 0;
  transition: all 0.4s linear;
}
.group .group_picture .list_group .list_item.active {
  left: -60px;
}
.group .group_picture .list_group .list_item.active .brief .icon {
  background-position-x: -90px;
  transition: background-position-x 0.5s cubic-bezier(0.45, -0.62, 0.48, 1.69);
}
.group .group_picture .list_group .list_item.active .brief .name {
  color: white;
  text-shadow: 0 1px 5px #ff6c00;
}
.group .group_picture .list_group .list_item:hover .brief .icon {
  background-position-x: -90px;
  transition: background-position-x 0.5s cubic-bezier(0.45, -0.62, 0.48, 1.69);
}
.group .group_picture .list_group .list_item:hover .brief .name {
  color: white;
  text-shadow: 0 1px 5px #ff6c00;
}

.group .group_picture .list_group .list_item .brief {
  width: 472px;
  height: 101px;
  background-image: url("../image/role_name_bg.png");
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  justify-content: flex-start;
  position: relative;
  padding-left: 120px;
  box-sizing: border-box;
  margin-top: 40px;
  cursor: pointer;
}
.group .group_picture .list_group .list_item .brief .icon {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 10px;
  left: 11px;
  border-radius: 50%;
  background-image: url("../image/icons.png");
  background-size: 169px 550px;
  background-position-x: 10px;
  background-repeat: no-repeat;
}
.group .group_picture .list_group .list_item .brief .name {
  color: #a7b8b0;
  font-size: 24px;
  font-family: Text_2, sans-serif;
  word-break: keep-all;
  white-space: nowrap;
  min-width: calc(100% - 120px);
  text-align: center;
  overflow: visible;
  text-transform: capitalize;
  transition: color 0.3s linear;
}

.group .group_information,
.characters .characters_information {
  margin-bottom: 1rem;
  text-align: center;
}
.group .group_information h1,
.characters .characters_information h1 {
  font-size: 44px;
  line-height: 1.5;
  font-weight: 700;
  text-transform: capitalize;
}

.characters .characters_picture {
  max-width: 1440px;
  height: 700px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  overflow: hidden;
}

.characters .characters_picture .tab {
  position: relative;
  width: 20%;
  height: inherit;
  padding: 20px;
  cursor: pointer;
  transition: width 0.5s ease;
  border-radius: 25px;
}
.characters .characters_picture .tab img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease;
  border-radius: 25px;
}
.characters .characters_picture .tab:hover img {
  opacity: 0.6;
}
.characters .characters_picture .tab:hover {
  width: 100%;
}
